name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Environment
        run: echo "Setting up build environment..."

      - name: Install dependencies
        run: npm install 

      - name: Run Build
        run: npm run build 